// Basic Niri Configuration
// Customize this file to change Niri settings.
// Niri設定ファイル
// 必要に応じて設定を変更してください。

input {
    keyboard {
        xkb {
            layout "jp"
        }
    }
}

layout {
    gaps 16
    center-focused-column "never"
}

binds {
    Mod+Q { close-window; }
    Mod+Return { spawn "ghostty"; }
    Mod+D { spawn "fuzzel"; }
}
